<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<nav th:fragment="navbar">

    <ul>
        <li>Here's a link</li>
        <li>Here's a link</li>
        <li>Here's a link</li>
    </ul>

</nav>

<header th:fragment="header">
    Welcome to the codeup blog!
</header>

<footer th:fragment="footer">

    <ul>
        <li>About Us</li>
        <li>Contact Us</li>
        <li>Careers</li>
    </ul>

</footer>

</html>